
html, body {
  height: 100%;
  margin: 0;
  background-color: #ffffff; 
}
.outerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.outerBoxs {
  width: 100%;
  max-width: 400px; 
  margin: auto;
}
.loginBox {
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #ffffff;
  text-align: center; 
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem; 
  align-items: center; 
}
input, button {
  width: 100%; 
  margin-bottom: 1rem;
}
a {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}
